---
layout: page
title: Blog
---
<section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% elsif site.paginate %}
		{% for post in paginator.posts %}
			{% if post.category == 'post' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
			{% if post.category == 'travel' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% include pagination.html%}
	{% else %}
		<h3>General Posts</h3>
		<br>
		{% for post in site.posts %}
			{% if post.category == 'post' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
		<h3>Travel</h3>
		<br>
		{% for post in site.posts %}
		{% if post.category == 'travel' %}
			{% if post.hidden != true %}
				{% include blog-post.html %}
			{% endif %}
		{% endif %}
	{% endfor %}

	{% endif %}
</section>
